

<style>
  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
</style>

.gallery-header{
    text-align: center;
    font-size: 28px;
    font-family:'Space Grotesk', sans-serif;
    font-weight: 700;
}

.parent-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.flex-item{
    width:23%;
    height:300px;
    border-radius:30px;
    margin-bottom:40px;
    background-position:center;
    background-size:cover;
    box-shadow:10px 10px 30px rgb(38, 86, 174);

}

.flex-item p{
    background-color: rgb(160, 186, 239);
    color:rgb(5, 5, 22);
    text-align:center;
}

.first{
background-image: url("https://images.unsplash.com/photo-1587139223877-04cb899fa3e8?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.second{
background-image: url("./maldives.jpeg");
}
.third{
    background-image: url("./borabora_frenchpolynesia.jpeg");
}
.fourth{
    background-image: url("./palawan_philippines.jpeg");
}
.fifth{
    background-image: url("./seychelles.jpeg") ;
}
.sixth{
background-image: url("./raja_ampat.jpeg") ;
}
.seventh{
background-image: url("./galapagos_islands_ecuador.jpeg") ;
}
.eighth{
    background-image: url("./fiji.jpeg");
}

.mainHeadings{
    font-size: 27px;
}

ul li{
    list-style-type: circle;
    font: size 20px;
}