
      

      body{background-color:whitesmoke;}

        a{
            border:2px solid rgb(149, 193, 227);
            color:rgb(25, 241, 43);
            font-size:70 px;
        }

        h1{ 
            padding-top: 45px;
        }

        h2{
            padding-top:30px ;
            padding: left 20px;
        }

            h3{ 
                color:aqua;
            font-size:20px;
        }

.header{
text-align: center;
margin-bottom:20px;
padding-bottom:20px;
}

.tightparagraph{
    margin-top:0px;
    margin-bottom:10px;
}
.myImage{
    height: 200px;
    width:200px;
    align-content:center;
}
.navbar{
    display:flex;
    justify-content: space-between;
    list-style-type: style none;
    padding:0px;
}
.navbar{
font-weight: 200;
}

.flex-item{
width:23%;
height:20px;
background-position:center;
background-size:cover;
box-shadow: 10px 10px 50px grey;
}


.first{
    background-image:url(". ") ;

}